<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>compra moeda</name>
  <description>Hello World sample application that responds to the deviceready event.</description>
  <author href="http://phonegap.com" email="support@phonegap.com">Bunker07</author>
  <content src="index.html"/>

  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>

  <platform name="ios|winphone|wp8|android" />

    <plugin name="cordova-plugin-compat"  />
    <plugin name="cordova-plugin-camera"  />
    <plugin name="cordova-plugin-device"  />
    <plugin name="cordova-plugin-geolocation"  />
    <plugin name="cordova-plugin-whitelist"  />
    <plugin name="cordova-plugin-file" />
    <plugin name="phonegap-plugin-barcodescanner" />
  
    <plugin name="cordova-plugin-camera" spec="2.1.1" />
    <plugin name="cordova-plugin-device" spec="1.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="1.5.0" />
    <plugin name="cordova-plugin-geolocation" spec="2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
    <plugin name="org.apache.cordova.network-information" spec="1.2.0" />

  <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
  
  <platform name="ios">
    <preference name="phonegap-version" value="3.9.1" />
    <preference name="orientation" value="portrait" />
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>

  <platform name="android">
    <preference name="phonegap-version" value="4.1.1" />
    <preference name="orientation" value="portrait" />
    <allow-intent href="market:*"/>
  </platform>

  <platform name="winphone">
    <preference name="phonegap-version" value="3.8.1" />
    <preference name="orientation" value="portrait" />
  </platform>

  <platform name="wp8">
    <preference name="phonegap-version" value="3.8.1" />
    <preference name="orientation" value="portrait" />
  </platform>

</widget>
